mixin extLink(url, label)
  a(href=url,target='_blank',rel='noopener') #{label}

doctype html
html
  head
    meta(charset='UTF-8')
    title #{title}
    link(href='https://fonts.googleapis.com/css?family=Teko',rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Adamina',rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Share+Tech+Mono',rel='stylesheet')

  body
    div.page
      div.container
        div.caption-wrapper
          h1#main-caption #{title}
          a.examples-toggle(href="javascript:void(0)",title="Toggle examples") %
        div.examples-wrapper
          span.examples
        div#codes
          div#code-input
          div#code-output-wrapper
            div#code-output
      div.container#settings
        h2 Settings
        div
          | io-ts version:
          select#ioTsVersion
        div
          label
            input(type='checkbox')#schemaTranslation
            | Translate schema references of primitive and specialized types
        div
          label
            input(type='checkbox')#nullable
            | Represent non-required fields as #[code null] (instead of #[code undefined]; only available in 2.0.1 version)
        div
          label
            input(type='checkbox')#horizLayout
            | Horizontal layout
        div
          | Property name mapping:
          |
          input.w-100#propMap
          div Format: #[code OriginalPropName->NewPropName,A->B]
      div.container
        h2 Notes
        | Only a subset of OpenAPI YAML format is supported: top-level must be
        | either #[code allOf]/#[code oneOf], object itself (#[code type: object]) or raw enum (#[code type: string, enum: ...]).
        | #[code allOf] can extend from only one object (only first is used).
        | #[code oneOf] supports untagged and tagged variant (but not mapping).
        | Inner anonymous objects are not supported, you can use #[code $ref] instead.
        | Tested with version #[code 1.4.1] of #[code io-ts].
      div.footer
        div
          | Powered by webpack,
          |
          +extLink('http://livescript.net', 'LiveScript')
          | ,
          |
          +extLink('http://stylus-lang.com', 'Stylus')
          |
          | and
          |
          +extLink('https://pugjs.org', 'Pug')
          | .
        div
          | Source code available at
          |
          +extLink('https://gitlab.com/monnef/openapi-to-io-ts', 'GitLab')
          | .
          |
          | Based on
          |
          +extLink('https://gitlab.com/monnef/webpack-livescript-stylus-pug', 'webpack-livescript-stylus-pug')
          | .
