color-basic = #eef
color-error = #F92672
color-container-bg = #000
form-field-bg = lighten(color-container-bg, 10%)

font-basic()
  font-family: 'Adamina', serif

font-caption()
  font-family 'Teko', sans-serif

font-mono()
  font-family 'Share Tech Mono', monospace;

*
  box-sizing border-box

body
  background-color #aab
  font-basic()

h1
h2
  font-caption()
  margin 0

h1
  font-size 250%
h2
  font-size 200%

#main-caption
  display inline-block
  margin-right .5em

a
  color black

code
  font-mono()
  background-color form-field-bg
  margin 0 0.1em

.page
  //max-width 1024px
  margin 1em auto

.container
  color color-basic
  background-color color-container-bg
  padding 1em 2em
  margin 1em 0
  box-shadow: 5px 5px 0px 0 #0007
  a
    color color-basic

#code-output-wrapper.error
  border 1px solid color-error

#codes
  #code-input, #code-output
    position relative

  #code-output
    height 100%

  #code-input, #code-output-wrapper
    width 100%
    height 20em
    margin-bottom 1em
    display: inline-block
  &.horizontal
    #code-input, #code-output, #code-output-wrapper
      margin-bottom 1em
    #code-input
      width 49%
      height 40em
    #code-output
      height 40em
    #code-output-wrapper
      width 49%
      height auto

.footer
  display flex
  justify-content space-between

.caption-wrapper
  display flex
  align-items center
  justify-content space-between

.examples-wrapper
  padding-bottom 1em
  display none

.examples-toggle
  margin-bottom .2em
  &:not(:hover)
    text-decoration none

.examples
  padding-left .5em
  a
    background-color form-field-bg
    padding .2em .5em
    text-decoration none
  a:hover
    text-decoration underline
  a + a
    margin-left .7em

#settings
  & > div
    margin-bottom 1em
    margin-top .5em

.w-100
  width 100%

#ioTsVersion
  width: 10em
  margin-left: .5em
